.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $cubic;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms $cubic;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 581px;
  width: 528px;
  padding: 40px;

  background: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $white;
}

.btn-modal-svg {
  width: 11px;
  height: 11px;
  fill: $icon-black;
  background-color: transparent;
}

.btn-modal-svg:hover,
.btn-modal-svg:focus {
  fill: $accent-cl;
  transition: 250ms $cubic;
}

.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $black;
  margin-bottom: 12px;
}
