.join-list {
  display: flex;
  justify-content: center;

  & .join-item {
    margin-bottom: 30px;
  }
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons {
  display: flex;

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: $white;
    border-radius: 50%;
  }

  &-svg {
    width: 20px;
    height: 20px;
    fill: $icon;
  }
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: $accent-cl;
  transition: 250ms $cubic;

  & .social-icons-svg {
    fill: $white;
    transition: 250ms $cubic;
  }
}
