html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px solid tomato;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-cl;
  background-color: $white;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Задает фон */
.gray-bg {
  background-color: $bg-gray;
}

.dark-bg {
  background-color: $bg-dark;
}

/* Основые свойства ссылок */
.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: $accent-cl;
  transition: 250ms $cubic;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
