$main-text-cl: #757575;
$accent-cl: #2196f3;
$black: #212121;
$white: #ffffff;
$bg-gray: #f5f4fa;
$bg-dark: #2f303a;
$border-gray: #eeeeee;
$border-header: #ececec;
$icon: #afb1b8;
$icon-black: #000000;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
