.dark-bg {
  & .logo {
    color: $white;
  }

  & .advantage-lable {
    color: $white;
    margin-bottom: 20px;
  }

  & .advantage-lable {
    margin-top: 60px;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  & .container {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  & .address {
    margin-top: 20px;
  }
}

.contacts-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $white;
}

.contacts-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer {
  &-contacts {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 50%;
    }
  }

  &-join {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 50%;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 70px;
    }
  }

  & .social-icons-item {
    margin-bottom: 0;
  }

  & .social-icons-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  & .social-icons-svg {
    fill: $white;
  }
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: $accent-cl;
  transition: 250ms $cubic;
}
